.container {
  display: grid;
  grid-template-areas:
    'image title'
    'image subtitle';
}

.imageContainer {
  grid-area: image;
  margin: 10px;

  span:nth-of-type(1) {
    box-shadow: 2px 2px 8px #aaaaaa;
  }
}

.title {
  grid-area: title;
  align-self: end;
  margin-bottom: 0px;

  span {
    font-weight: 400;
  }
}

.subtitle {
  align-self: start;
  grid-area: subtitle;
  background-color: var(--secondary);
  padding: 12px;
  margin-left: -360px;
  padding-left: 360px;
}

@media (max-width: 600px) {
  .container {
    text-align: center;
    grid-template-areas:
      'title'
      'subtitle'
      'image ';
  }

  .subtitle {
    margin-left: 0px;
    padding-left: 0px;
  }

  .imageContainer {
    margin: 0px;
  }
}
