.container {
  display: grid;
  grid-template-areas:
    "image title"
    "image subtitle";
}

.image {
  grid-area: image;
  margin: 10px;
}

.title {
  grid-area: title;
  align-self: end;
  margin-bottom: 0px;
}

.subtitle {
  align-self: start;
  grid-area: subtitle;
  background-color: var(--secondary);
  padding: 10px;
  margin-left: -370px;
  padding-left: 370px;
}
