@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --primary-dark: #0b0b2f;
  --primary-medium-dark: #38365d;
  --primary-light: #f1ecff;
  --light-color: #f1f5f9;
  --secondary: #00c895;
}

::selection {
  background: var(--primary-medium-dark);
}

html,
body {
  background: radial-gradient(#0b0b2fb0, var(--primary-dark));
  color: var(--primary-light);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

i {
  font-size: 25px;
}
