:root {
  --primary-dark: #0b0b2f;
  --primary-medium-dark: #38365d;
  --primary-light: #f1ecff;
  --light-color: #f1f5f9;
  --secondary: #00c895;
}

html,
body {
  /* background: radial-gradient(var(--primary-medium-dark), var(--primary-dark)); */
  background: linear-gradient(
    var(--primary-dark) 20%,
    var(--primary-medium-dark),
    var(--primary-dark)
  );
  color: var(--primary-light);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
